@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    border-bottom: 3px solid #32D2C7;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}

.main-logo {
    background-image: url('../images/Rectangle\ 109.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* .row-wrapper-one {
    display: flex;
    flex-wrap: wrap;
} */
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 56px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    /* margin-right: 44px; */
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
}
.content {
    margin-bottom: 80px;
}
/* .row-wrapper {
    display: flex;
    flex-wrap: wrap;
} */
.sec p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 50px;
}
.sec h2 {
    font-size: 58px;
    font-family: "segoe UI Semibold";
    color: #00458B;
}
.sec-list {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list li {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.dp p {
    font-size: 21px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 40px;
}
.sec-img {
    display: flex;
    align-items: end;
}
.sec-img img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.row-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.left-1 {
    padding-right: 10px;
}
.left-2 {
    padding-right: 10px;
}
.sec-bag {
    background: #32D2C7;
    padding: 0px;
    padding-left: 42px;
}
.sec-bag-1 {
    padding: 0px;
}
.sec-bag h3 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #000000;
    /* padding-top: 6px; */
    padding-bottom: 23px;
}
.sec-bag p {
    font-size: 20px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-bottom: 62px;
}
.sec-bag-1 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.dp1 {
    padding-top: 70px;
    padding-bottom: 50px;
}
.sec-list-1 {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list-1 li {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img-1 {
    display: flex;
    align-items: end;
    padding-top: 70px;
    padding-bottom: 50px;
}
.sec-img-1 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.left-3 {
    padding-right: 10px;
}
.left-4 {
    padding-right: 10px;
}
.dp2 {
    /* padding-top: 70px; */
    padding-bottom: 50px;
    padding-left: 65px;
}
.sec-list-2 {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list-2 li {
    font-size: 21px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img-2 {
    display: flex;
    align-items: end;
    /* padding-top: 70px; */
    padding-bottom: 50px;
}
.sec-img-2 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.left-5 {
    padding-right: 10px;
    padding-left: 10px;
}
.left-6 {
    padding-right: 10px;
}
.dp3 {
    /* padding-top: 42px; */
    padding-bottom: 50px;
}
.sec-list-3 {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list-3 li {
    font-size: 21px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img-3 {
    display: flex;
    align-items: end;
    padding-top: 70px;
    padding-bottom: 50px;
}
.sec-img-3 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.left-7 {
    padding-right: 10px;
}
.left-8 {
    padding-right: 10px;
}
.dp4 {
    /* padding-top: 70px; */
    padding-bottom: 50px;
    padding-left: 65px;
}
.sec-list-4 {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list-4 li {
    font-size: 20px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img-4 {
    display: flex;
    align-items: end;
    /* padding-top: 70px; */
    padding-bottom: 50px;
}
.sec-img-4 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.left-9 {
    padding-right: 10px;
    padding-left: 10px;
}
.left-10 {
    padding-right: 10px;
}
.dpp {
   background-image: url('../images/hands-pattern.png');
   background-repeat: repeat;
    background-color: #32D2C7;
    padding: 0px;
    padding-left: 50px;
    margin-bottom: 50px;
}
.dpp h4 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-top: 77px;
}
.dpp p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-top: 20px;
}
.button2 {
    background: #004389;
    font-size: 17px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    border: none;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 32px;
}
.fa-arrow-right {
    font-size: 17px;
    padding-left: 9px;
}
.dpp1 {
    padding: 0px;
    margin-bottom: 50px;
}
.dpp1 img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}