@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    border-bottom: 3px solid #32D2C7;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}
.container {
    padding: 0px;
}
.main-logo {
    background-image: url('../images/Rectangle\ 109.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 52px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    
    margin-right: 44px;
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
}
.content {
    margin-bottom: 80px;
}
.row-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.ds {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ds p {
    font-size: 22px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #000000;
    margin: 0px;
}
.dss h2 {
    font-size: 54px;
    font-family: "segoe UI Semibold";
   color: #00458B;
   margin: 0px;
   padding-bottom: 20px;
}
u { 
    text-decoration: underline;
  }
.dss p {
    font-size: 22px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #000000;
    padding-bottom: 30px;
    margin: 0px;
}
.ds1 {
    padding-left: 70px;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
}
.back-1 {
    background: #E6E6E6 0% 0% no-repeat padding-box;
}
.ds-1 h3 {
    font-size: 54px;
    font-family: "segoe UI Semibold";
   color: #00458B;
   margin: 0px;
}
.ds-1 p {
    font-size: 22px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 25px;
}
.sec-1 {
    padding-top: 25px;
    padding-bottom: 38px;
    padding-left: 0px;
}
.sec-1 li {
    list-style: none;
    font-size: 20px;
    font-family: "segoe UI Semibold";
    padding-bottom: 25px;
}
.sec-1 li a {
    color: #00458B;
    text-decoration: underline;
}
.sec-1 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-1 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-1 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.ds2 {
    padding-left: 70px;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
}
.ds3{
    padding-left: 70px;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-bottom: 37px;
}
.ds4{
    padding-left: 70px;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-bottom: 41px;
}
.ds-2 h4 {
    font-size: 54px;
    font-family: "segoe UI Semibold";
   color: #00458B;
   margin: 0px;
}
.ds-2 p {
    font-size: 22px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
}
.sec-2 {
    
    padding-bottom: 38px;
    padding-left: 0px;
}
.sec-2 li {
    list-style: none;
    font-size: 20px;
    font-family: "segoe UI Semibold";
    /* padding-bottom: 25px; */
}
.sec-2 li a {
    color: #00458B;
    text-decoration: underline;
}
.sec-2 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-2 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-2 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-2 li:nth-child(4) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.sec-2 li:nth-child(5) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 26px;
}
.ds2 {
    padding-left: 70px;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}