@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    border-bottom: 3px solid #32D2C7;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}

.main-logo {
    background-image: url('../images/Rectangle\ 109.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* .row-wrapper-one {
    display: flex;
    flex-wrap: wrap;
} */
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 56px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    /* margin-right: 44px; */
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
}
.content {
    margin-bottom: 80px;
}
/* .row-wrapper {
    display: flex;
    flex-wrap: wrap;
} */
.sec p {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 50px;
}
.sec h2 {
    font-size: 58px;
    font-family: "segoe UI Semibold";
    color: #00458B;
}
.sec1 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    margin: 0px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
.sec-list {
    padding-left: 0px;
    padding-top: 20px;
}
.sec-list li {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    list-style: none;
    padding-bottom: 20px;
}
.sec-img img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.section {
    background: #E6E6E6;
}
/* .row-wrapper-two {
    display: flex;
    flex-wrap: wrap;
} */
.se h3 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.se p {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #828690;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 40px;
}
.sec-2 {
    padding-left: 0px;
}
.sec-2 li {
    list-style: none;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-bottom: 36px;
}
.ds3 {
    padding-left: 70px;
}
.sec-2 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 44px;
}
.sec-2 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-2 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-2 li:nth-child(4) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 {
   padding-left: 0px;
}
.sec-3 li {
    list-style: none;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding-bottom: 36px;
}
.ds4 {
    padding-left: 70px;
}
.sec-3 li:nth-child(1) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    min-height: 44px;
}
.sec-3 li:nth-child(2) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.sec-3 li:nth-child(3) {
    background-image: url('../images/Group\ 500.png');
    background-repeat: no-repeat;
    
}
.section-1 {
    background-image: url('../images/hands-pattern.png');
    /* background-repeat: no-repeat; */
    background-color: #87ceeb;  
    margin-top: 50px;
}
.left-img img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.left h4 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.left p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
}
.right h5 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.right p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    padding-bottom: 25px;
}
/* .ds{
    display: flex;
    flex-wrap: wrap;
} */
.ds-salary {
    background: #E6E6E6;
}
.ds-salary-one {
    background-color: #FFFFFF;
   
   
    margin-top: 50px;
    
}
.ds-salary-one h6 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-left: 26px;
}
.ds-salary-one p {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    line-height: 37px;
    padding-left: 26px;
    padding-bottom: 63px;
}
.sa {
    position: absolute;
    bottom: -20%;
}
.ecllipse {
    position: relative;
    width: 103px;
height: 103px;
}
.dollar {
    position: absolute;
    width: 36px;
    height: 80px;
    left: 30%;
    top: 9%;
}
.ds-i img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}  
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}